*{
  font-family: 'Raleway', sans-serif;
}
:root{
  --primary:#9b91f2 !important;
  --secondary:#aff2f9 !important;
  --app-container: #fbfcff;
  --main-color: #1f1c2e;
}
.content-middle , .central{
display: flex!important;
align-items: center!important;
justify-content: center!important;
}
.app-bg{background-color: var(--app-container);}
.dashboard , .bgHome{
  min-height:100vh;
  background-color:var(--app-container);
  position:relative;
}
.card{
  background: rgba(255, 255, 255, 0.6);
backdrop-filter: blur(17.4px);
-webkit-backdrop-filter: blur(17.4px);
}
.navBar{
  padding:10px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  max-width:calc(92.5%);
}
.sideBar{
  position:fixed;
  top:90px;
  left:10px;
  width:250px;
  height:calc(100% - 120px);
  padding: 3rem 2rem;
}


.graph{
  margin:30px auto;
  overflow:hidden;
  display: flex;
  height: calc(100%);
  width: calc(100%);
  justify-content: center;
  align-items: center;
}
.main{position:absolute;top: 60px;left: 250px;width:calc(100% - 250px);padding-top: 30px;}

.text-primary{color:var(--primary)}
.text-secondary{color:var(--secondary)}
.designBg{

}
.home{
  min-height: 100vh;
  display:flex;
  align-items:center;
  justify-content: center;
  /* background-color:var(--app-container); */
}
.form{border-left:10px solid var(--secondary);}
/* .form input , button{border-radius: 200px !important;padding:15px !important;} */
@media(max-width:993px){
  .sideBar{
    left: 0;
    top: 0;
    z-index: 11;
    height: 100vh;
  }
  .main{
    width: 100%;
    position: static;
  }
  .navBar{
    width: 100%;
  }
}